* {
    box-sizing: border-box;
    color: rgb(238, 229, 241)
    
}



body {
    background-color: rgb(0, 0, 0); 
    font-family: 'Open Sans', 'Roboto Condensed', sans-serif; 
    font-size: 16px; /* Ajusta esto al tamaño que desees */
}


h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 100px;
    color: rgb(241, 14, 169);

   
}

h2 {
    font-size: 3em
}

h3 {
    font-size: 3em
}

p {
    font-size: 1.20em;
    text-align: center;
}



.container button {
    font-size: 1em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: justify;
    background-color: rgb(20, 20, 20);
    color: rgb(241, 14, 169);
    box-shadow: 2px 2px 2px rgb(238, 229, 241); 
}



.container{
    max-width: 1400px;
    margin: 0%;
}

header {
    background-color: rgba(14, 14, 14, 0.95);
    padding: 0px;
    margin: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo {
    margin: 0;
    padding: 2px 60px;
    font-size: 2em;
    font-weight: bold;
    color: rgb(238, 229, 241);
    text-shadow: 3px 2px 2px rgb(241, 14, 169);
    text-decoration: none;
    background-image:url("../Principal-Index/IMAGENES/LOGO\ FUEGO.jpg");
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: left;
}

header .container{
    display:flex;
    flex-direction: column;
    align-items:center;
    height: 100%;
    width: 100%;
}

header .nav {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

header a {
    margin-top: 0.5rem;
    padding: 15px 20px;
    text-decoration:none;
    color: rgb(251, 244, 247);
    text-shadow: 2px 2px 2px rgb(241, 14, 169);
}

header a:hover{
    color: rgb(225, 41, 102);
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.hacetesocioya {
    font-size: 1rem;
    text-align: center;
    
}

div.hacetesocioya a {
    text-decoration:none;
    color: rgb(241, 14, 169);    
    padding: 20px 30px;
    border: 1px solid rgb(245, 238, 238);
    background-color: rgb(19, 19, 19);
    border-radius: 1.75rem;
    }

div.hacetesocioya a:hover{
    color: rgb(19, 19, 19);
    background-color: rgb(241, 14, 169);
    text-shadow: 2px 2px 2px rgb(19,19,19);
}

#nuestra-comunidad.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


h2{
    color:rgb(241, 14, 169);  
    font-size: 4em;
    text-align: center;
    padding: 20px, 12px;

}

#nuestra-comunidad{
    background-color: rgba(14, 14, 14,);
    padding: 20px,10px;
    margin:0%;
    text-align: center;
}

#nuestra-comunidad p{
    font-size: 1em;
    text-align: center;
    padding: 20px, 40px;
    
    
}

#Nuestras-clases .container {
    background-color: rgb(35, 35, 35);
    padding: 20px, 0px;
    margin:0%;
    text-align: center;
    
}

.slide-box {
    width: 90%;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}

.slide-box ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 15s infinite ease-in-out;
}

.slide-box ul li {
    list-style: none;
    width: 100%;
    position: relative;
}

.texto {
    position: absolute;
    text-align: center;
    padding: 0 250px;
    top: 300px;
    align-items: center;
    justify-content: center;
}
#miBoton:hover{
    background-color: aliceblue;
    color:rgb(241, 14, 169);  ;

}

.texto h3 {
    font-size: 3em;
    margin-bottom: 35px;
    text-shadow: rgb(11, 11, 11) 3px 3px;
}

.slide-box img {
    width: 100%;
}
  

@keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0; }

    25% { margin-left: -100%; }
    45% { margin-left: -100%; }

    50% { margin-left: -200%; }
    70% { margin-left: -200%; }

    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}


#nuestras-sedes{
    background-color:rgb(23, 22, 23); 
    padding: 30px 250px;
    text-align: center;
   }

   .container .carta{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 20px;
    margin:30px;
    border-radius: 1.75rem;
    display: flexbox;
   }

.carta:nth-child(3){
    background-image:
    url("IMAGENES/sederamos.jpg");
}
.carta:nth-child(4){
    background-image:
    url("IMAGENES/sede-caseros.jpg");
}

.carta:nth-child(5){
    background-image:
    url("IMAGENES/sede-ramos.jpg");
}

.carta h3 {
    text-shadow: rgb(11, 11, 11) 5px 5px;
    text-align: center; 
}

#planes {
    padding: 20px;
    margin: 0;
    font-family: sans-serif;
    min-height: 100vh;
    background-image: url("IMAGENES/fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
       
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    text-shadow: rgb(11, 11, 11) 1px 1px;
    }
    
.card-section{
    display: grid;
    grid-template-columns: repeat(3, minmax(24rem, 1fr));
    gap: 1.75rem;
}

.card {
    background-color:  rgb(178, 134, 194);;
    padding: 2rem;
    border-radius: 1.75rem;
    display: flex;
    flex-wrap: wrap;
}

.card .card-header {
    flex-basis: 100%;
    font-size: 2.5rem;
    text-align: center;
    color: rgb(238, 229, 241);
    text-shadow: 2px 2px 2px rgb(23, 22, 23); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    margin-top: 2rem; 
}

.card .card-body p {	
    margin:0;
    font-size: 3.5rem; 
    color:rgb(37, 35, 37);
    border-style:inset;
    border-color: rgb(154, 58, 185);
    border-width: 5
    px;
    text-decoration:dashed;
    font-family:sans-serif;
    }

.card .card-body a {
    text-decoration:none;
    color: rgb(241, 14, 169);    
    display:inline-block;
    padding: 0.7rem 1.75rem;
    border: 1px solid black;
    background-color: black;
    border-radius: 1.75rem;
    margin-top: 3rem;
    transition: background-color 0.4s ease-in, color 0.4s ease-in;
    }

.card .card-body a:hover {
    background-color: transparent;
    border-color: rgba(14,14,14,);
    color: rgb(241, 14, 169);
}

.card .card-footer {
    flex-basis: 100%;
    color: rga(0,0,0);
    align-self: flex-end;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 30px;
    position: center center; 
    
}

#encontranos .container{
    text-align: center;
    padding: 30px 20px;
    margin-top: 10%;
    
}

.footer{
    width: 100%;
    height: 80px;
    background-color: var(--Petroleo);
    background-color: rgb(33, 32, 33);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url("IMAGENES/l");
}
.footer div{
    display: flex;
    border: 1px solid;
    text-decoration: none;
    border-color: transparent;
    color: var(--blanco);
    align-items: center;
}


/* Estilos para dispositivos móviles pequeños (hasta 600px) */
@media only screen and (max-width: 700px) {


    .nav {
        display: flex !important;
        flex-direction: column !important;

    }

    .container {
        display: grid;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-left: 1rem;
        grid-template-columns: repeat(1, 3fr);
        overflow: visible;
    }

}