body {
    background-color: rgb(173, 172, 171);
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cabecera { 
    background-color: rgb(52, 54, 54);
}

.centrado {
    margin: 0 auto;
    padding: 0 .8em;
}

/* media query */
@media screen and (min-width: 52em) {
        .centrado {            
            padding: 0 .7em;
        }
}

.site-branding {
    margin: 0 1em;
    padding: 1em 0;
    text-align: center;
    color: rgb(209, 22, 22);
    font-size: 2em;
}

.card a {
    text-decoration: none;
}
.card a:hover { 
    box-shadow: 3px 3px 8px #d8cdcd;
}

.card-content {
    padding: 1.5em;
}

.card-content h2 {
    margin-top: 0;
    margin-bottom: .30em;
    font-weight: normal;
}

.card-content p {
    font-size: 89%;
}

figure {
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
    border: 0;
}

/* acá empieza el flexbox */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin-bottom: 2em;
    width: 33%;
}


	         
